.house_main_div {
    width: 90%;
    margin: 3em auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.house_title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.house_title a {
    background: #4AB185 url("./HousePageImg/Fra2аme копия 2.svg") no-repeat center;
    background-size: 60%;
    border-radius: 50%;
    padding: 5px;
    margin: 2em;
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
}

.HouseSwiper {
    width: 70%;
    height: 35em;
    margin-top: 2em;
}

.House_slide {
    height: 100% ;
}

.House_slide img {
    width: 100%;
    height: 100%;

}

.mini_sl {
    margin: 1em;
    width: 60%;
    height: 10em;
}

.mini_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info_title {
    width: 100%;
    color: #4AB185;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 1em;
}

.top_info_div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 1em;
    background: #cccccc;
    border-radius: 15px;
}

.inf_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 10rem;
    font-size: 0.6rem;
}

.inf_div img {
    width: 50%;
    height: 50%;
}

.main_specifications{
    margin-top: 4em;
    display: flex;
    width: 80%;
    flex-direction: column;
}
.p31{
    color: #4AB185;
    font-size: 1.6em;
}
.cell{
    display: flex;
    width: 70%;
    height: 4em;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}
.main_specifications_table{
    margin-top: 2em;
    width: 100%;
    background: #4AB185;
    color: white;
    border-radius: 5em;
}
.partition{
    width: 100%;
    height: 2px;
    background: white;
}

.house_request_title{
    text-align: center;
    margin-top: 5vh;
    font-size: 3em;
    font-weight: bolder;
    color: #4AB185;
}

.house_request_form input[type="text"],
.house_request_form input[type="email"],
.house_request_form input[type="tel"],
.house_request_form textarea {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: none;
    margin: 10px 0;
    outline: none;
    color: black;
}
.house_request_form p{
    text-align: center;
    margin-bottom: 3vh;
    font-size: 1.8em;
    color: white;
}
.house_request_form{
    background: #4AB185;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    margin-top: 3vh;
}
.house_request_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1350px) {
    .mini_sl {
        width: 80%;
    }
    .HouseSwiper{
        width: 80%;
    }
    .House_slide{
        width: 90%;
    }
}
@media (max-width: 1220px) {
    .HouseSwiper{
        height: 30rem;
    }
}
@media (max-width: 1070px) {
    .HouseSwiper{
        height: 27rem;
    }
    .mini_sl {
        height: 8rem;
    }
}
@media (max-width: 1020px) {
    .top_info_div {
        width: 100%;
    }
}
@media (max-width: 915px) {
    .HouseSwiper{
        height: 24rem;
    }
    .mini_sl {
        height: 7rem;
    }
    .house_title a{
        top: 50px;
    }
}
@media (max-width: 815px) {
    .HouseSwiper{
        height: 20rem;
    }
    .mini_sl {
        margin-top: 5px;
        height: 6rem;
    }
    .top_info_div {
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media (max-width: 815px) {
    .HouseSwiper{
        height: 17rem;
    }
    .mini_sl {
        margin-top: 5px;
        height: 5rem;
    }

}
@media (max-width: 630px) {
    .main_specifications{
        width: 100%;
    }
    .HouseSwiper{
        height: 15rem;
    }
    .mini_sl {
        margin-top: 5px;
        height: 4.5rem;
    }
}
@media (max-width: 550px) {
    .main_specifications{
        width: 100%;
    }
    .HouseSwiper{
        width: 100%;
        height: 16rem;
    }
    .mini_sl {
        width: 100%;
        margin-top: 5px;
        height: 5rem;
    }
    .inf_div{
        width: 8rem;
        font-size: 0.5rem;
    }
    .house_title a{
        top: 50px;
        left: -20px;
    }
}
@media (max-width: 500px) {
    .house_request_title{
        font-size: 2rem;
    }
    .main_specifications{
        font-size:0.7rem ;
    }
    .HouseSwiper{
        height: 16rem;
    }
    .mini_sl {
        display: none !important;
    }


}
@media (max-width: 420px) {
    .inf_div{
        width: 7.2rem;
        font-size: 0.4rem;
    }
    .info_title{
        font-size: 1.3rem;
    }
    .HouseSwiper{
        height: 13rem;
    }
}
@media (max-width: 420px) {
    .inf_div{
        width: 7rem;
        font-size: 0.3rem;
    }
}