.projects_root{
    padding-top: 90px;
}
.projects_search{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
}
.search_header{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.search_header p{
    font-size: 2.5em;
    font-weight: bolder;
    color: #4AB185;
}
.search_header_div{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: right;
}
.search_header_input{
    border-radius: 20px 0 0 20px;
    width: 0;
    height: 50px;
    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
    font-size: 1em;
    transition: 0.3s ease;
}
.search_header_input.opened{
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-right: none;
}
.search_btn{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #4AB185 url('./projetsImage/search.svg') no-repeat center;
    background-size: 70%;
    transition: 0.3s;
}
.search_btn.opened{
    border-radius: 0 20px 20px 0;
    border: 1px solid black;
    border-left: none;
}
.search_div{
    height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    width: 100%;
    justify-content: center;
    transition: 0.3s;
}
.search_div.opened{
    height: 200px;
}
.search_filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 63%;
    gap: 35px;
}
.search_filters input{
    height: 28px;
    width: 100%;
    outline: none;
    padding: 10px;
    font-size: 1em;
    transition: 0.3s ease;
    border-radius: 20px 0 0 20px;
    border: 1px solid black;
    border-right: none;
}
.search_filters_button{
    width: 50px;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: 1px solid black;
    border-left: none;
    background: #4AB185;
}
.search_filters_button img{
    width: 25px;
    height: 25px;
    margin-top: 8px;
}
.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.search_filters_div{
    display: flex;
    align-items: center;
    width: 100%;
}
.floors_select_div{
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.3s;
}
.floors_select_div button{
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background: white;
    padding: 10px;
    font-size: 1.3em;
}
.floors_select_div.opened{
    height: 150px;
    border-radius: 0;
}
#search_input_filter1.opened{
    border-radius: 20px 0 0 0;
}
#search_input_filter2.opened{
    border-radius: 20px 0 0 0;
}
.search_filters_button.opened{
    border-radius: 0 20px 0 0;
}
.search_filters_img{
    transform: rotate(0deg);
    transition: 0.5s ease;
}
.search_filters_img.opened{
    transform: rotate(180deg);
}
.search_d{
    width: 46%;
}
.text_but{
    display: flex;
    justify-content: center;
    width: 50%;
}
.search_bot textarea:valid{
    border:1px solid black ;
}
.text_but img{
    width:50%;
    height:50%;
}
.search_bot{
    gap: 2em;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.projects_list{
    margin-top: 3em;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}