/* styles.css */
.mySwiper1 {
    width: 100% !important;
    height: 30em!important;
    display: flex !important;
    justify-content: center !important; /* Центрирование по горизонтали */
    align-items: center !important; /* Центрирование по вертикали */
    margin-top: 40px;

}

.slide1 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.slide1  img {
    width: 40% !important;
    height: 100% !important;
}

.custom-pagination{
    display: flex !important;
    justify-content: center !important;
    position: absolute;

    gap: 2em !important;
}
.custom-bullet{
    background-color: #5E5694;
}
.custom-bullet.swiper-pagination-bullet-active{
    background-color: #4AB185;
}