.about_us_main_div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    font-size: 1.1em;
    height: 74vh;
}

.about_us {
    padding: 0 2em;
    width: 30%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4AB185;
    color: white;
    border-radius: 50px;

}

.about_us_pic {
    width: 35%;
    padding: 2em;
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us_pic img {
    border-radius: 50px;
    width: 100%;
    height: 60vh;
}

.about_us_pic picture img {
    border-radius: 50px;
    width: 100%;
    height: 60vh;
}

.pluses_main_div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1em;
    height: 60vh;
    align-items: center;
    flex-wrap: wrap;
}

.plus_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 30%;
}

.plus_container img {
    width: 20vw;
    height: 20vh;
}

.plus_container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}

.Name_text {
    color: #4AB185;
    font-size: 1.5em;
}

.main_text {
    font-size: 1.1em;
    width: 60%;
    text-align: center;
}

.our_service {
    display: flex;
    justify-content: center;
    gap: 15%;
    background: #DDDDDD;
    height: 70vh;
    align-items: center;
}

.service_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.service_img img {
    border-radius: 10px;
    width: 100%;
    height: 80%;
}

.service_text {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.our_text {
    font-size: 2.4em;
    color: #4AB185;
}

.service_point {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 1.3em;
}

.service_point p {
    color: #8A8484;
}

.consultation {
    width: 100%;
    background-size: cover;
    background: url("./homeimages/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@supports (background-image: url('./homeimages/background.avif')) {
    .consultation {
        width: 100%;
        background-size: cover;
        background: url('./homeimages/background.avif') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content_consul {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin: 0 auto 0 13%;
}

.cons_text {
    background: rgba(191, 191, 191, 0.58);
    padding: 10% 13% 10% 13%;
    border-radius: 30px;
    color: white;
    font-size: 2em;
}

.cons_button button {
    width: 20vw;
    height: 10vh;
    border-radius: 30px;
    border: inherit;
    background: #4AB185;
    color: white;
    font-size: 1.5em;
}

.best_project_div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.best_project_name {
    font-size: 2em;
    color: white;
    background: #4AB185;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four_project {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    width: 100%;
    justify-content: center;
}

.project img {
    width: 100%;
    height: 100%;
}

.project {
    width: 50em;
    height: 30em;
    margin: 0;
    position: relative;
}

.project_name {
    position: relative;
    bottom: 101%;
    background: rgba(74, 177, 133, 0.72);
    color: white;
    margin: 0;

    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 0 0 30px 0;
    padding: 1em;
}

.best_project_footer {
    margin-top: 10vh;
    display: flex;
    justify-content: end;
    width: 90%;
}

.best_project_footer a {
    width: 26%;
    height: auto;
    background: #4AB185;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px;
    position: relative;
    bottom: 5vh;
}

.our_team {
    margin-top: 10vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.our_team_name {
    width: 70%;
    color: #4AB185;
    font-size: 3em;
}

.team_members {
    margin-top: 5vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

}

.member img {
    border-radius: 2vh 2vh 0 0;
    width: 100%;
    height: 100%;
}

.member_content {
    background: #4AB185;
    width: 100%;
    color: white;
    padding: 2vh 0 2vh 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
    border-radius: 0 0 20px 20px;
}

@media (max-width: 1620px) {
    .about_us_main_div {
        height: 40rem;
        margin-top: 3vh;
    }

    .about_us {
        height: 100%;
        font-size: 0.85em;

    }

    .about_us_pic picture {
        height: 40rem;

    }

    .about_us_pic picture img {
        width: 100%;
        height: 100%;
    }

    .our_service {
        height: 40em;
    }

    .our_service img {
        width: 100%;
        height: 80%;
    }

    .service_img {
        height: 100%;
    }

    .service_text {
        gap: 3em;
    }

}

@media (max-width: 1550px) {
    .about_us_main_div {
        height: 50vh;
        margin-top: 3vh;
    }

    .about_us {
        height: 100%;
        font-size: 0.75em;

    }

    .about_us_pic {
        height: 100%;
    }

    .about_us_pic img {
        width: 100%;
        height: 100%;
    }

    .pluses_main_div {
        height: 25em;
    }

    .plus_container img {
        height: 200px;
        width: 200px;

    }

    .plus_container {

    }

    .our_service {
        height: 40em;
    }

    .our_service img {
        width: 100%;
        height: 80%;
    }

    .service_img {
        height: 100%;
    }

    .service_text {
        gap: 3em;
    }

    .consultation {
        height: 40vh;
    }

    .cons_button button {
        height: 4em;
    }

    .best_project_name {
        font-size: 1.7em;
        height: 5em;
    }

    .best_project_footer {
        width: 90%;
        margin: 8em auto;
    }

    .best_project_footer a {
        width: 30%;
        font-size: 1.5em;
    }

    .our_team {
        height: 32em;
        margin-top: 1vh;
    }

    .team_members {
        width: 80%;
        gap: 2em;
        justify-content: center;

    }
}

@media (max-width: 1470px) {
    .about_us_main_div {
        height: 30rem;
        font-size: 1em;
        margin-top: 3vh;
    }

    .about_us {
        height: 100%;
        font-size: 0.85em;

    }

    .about_us_pic picture {
        height: 30rem;

    }


}

@media (max-width: 1300px) {
    .about_us_main_div {
        height: 50rem;
        flex-direction: column-reverse;
        gap: 0;
        width: 100%;
        margin-top: 3vh;
    }

    .about_us {
        width: 80%;
        height: 30rem;
        font-size: 0.85em;
        border-radius: 0 0 2em 2em;

    }

    .about_us h1 {
        margin: 10px;
    }

    .about_us_pic {
        width: 84%;
        gap: 0;
        padding: 0;
    }

    .about_us_pic picture {
        border-radius: 0;
        height: 32rem;
        object-fit: cover;
        padding: 0;
        margin: 0;

        width: 100%;
    }

    .about_us_pic picture img {

        width: 100%;
        border-radius: 2em 2em 0 0;
        height: 100%;
        object-fit: cover;
    }

    .our_service {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        justify-content: start;
        align-items: center;
        height: 55em;
    }

    .service_img {

        width: 70%;
        height: 30em;
    }

    .service_img picture {
        margin-top: 1em;
        border-radius: 2em;
        width: 70%;
        height: 30em;
    }

    .service_img picture img {
        width: 100%;
        height: 100%;
        border-radius: 2em;
    }

    .service_text {
        gap: 1.4em;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .our_team {
        margin-top: -6em;
    }

    .our_text {
        place-self: center;
        grid-column: span 2;
    }

    .member {
        width: 30%;
        font-size: 1.2em;
    }

    .best_project_footer a {
        width: 30%;
        font-size: 1.4em;
    }

    .pluses_main_div {
        height: 23em;
    }


}

@media (max-width: 1150px) {
    .our_service {
        height: 40em;
    }

    .service_point {
        width: 70%;
        place-self: center;
    }

    .service_point h1 {
        font-size: 1.6rem;
    }

    .service_point p {
        font-size: 1.4rem;
    }

    .our_team {
        height: 60em;
        gap: 2vh;
    }

    .team_members {
        width: 90%;
        gap: 10vh;
        height: 50em;
        margin-top: 1vh;
    }

    .service_img {
        height: 18rem;
    }

    .service_img picture {
        height: 18rem;
    }

    .service_img picture img {
        height: 18rem;
    }

    .member {
        height: 15em;
        width: 14em;
        padding: 10px;
    }
}

@media (max-width: 1000px) {

    .best_project_footer a {
        width: 40%;
    }

    .service_img picture {
        height: 28rem;
        width: 100%;
    }

    .plus_container img {
        height: 130px;
        width: 130px;
    }

    .plus_container {
        height: 70%;
    }

    .about_us {
        font-size: 0.76em;
    }

    .cons_button button {
        width: 60%;
    }

}

@media (max-width: 900px) {

    .about_us_main_div {
        height: 40rem;
    }

    .about_us_pic picture {
        height: 25rem;
    }

    .service_text {
        margin-top: 1rem;
        font-size: 1.1em;
    }

    .our_service {
        height: 45rem;
    }

    .service_img picture {
        height: 20rem;
    }

    .service_img {
        height: 20rem;
    }

    .best_project_footer a {
        width: 50%;
    }

    .about_us {
        font-size: 0.6em;
        text-align: center;
        height: 25rem;
    }


    .service_point {
        font-size: 1em;
    }

}

@media (max-width: 900px) {
    .our_service {
        font-size: 0.8em;
    }

    .main_text {
        display: none;
    }

    .Name_text {
        font-size: 1em;
    }

    .about_us {
        font-size: 0.8em;
    }
}

@media (max-width: 790px) {
    .our_team {
        height: 110em;

    }

    .team_members {
        width: 70%;
        gap: 12rem;
    }

    .member {
        width: 100%;
        height: 20em;
    }
}

@media (max-width: 750px) {
    .our_team {
        height: 110em;

    }

    .team_members {
        width: 70%;
        gap: 150px;
    }

    .member {
        width: 100%;
        height: 20em;
    }

    .about_us_main_div {
        height: 40rem;
    }

    .about_us_pic {
        height: 17em;
    }

    .about_us {
        height: 15rem;
        font-size: 0.7em;
        padding: 2%;
    }

    .pluses_main_div {
        height: 14em;

    }

    .content_consul {
        font-size: 0.8em;
    }

    .best_project_name {
        font-size: 1em;
    }

    .best_project_footer a {
        width: 60%;
    }
}

@media (max-width: 750px) {
    .best_project_footer a {
        font-size: 0.9em;
        width: 50%;
        height: 5em;
    }

    .best_project_footer img {
        width: 20%;
    }
}

@media (max-width: 600px) {
    .our_service {
        padding: 1rem 0 7rem 0;
    }

    .plus_container img {
        height: 80px;
        width: 80px;
    }

    .our_text {
        grid-column: span 1;
    }

    .service_text {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, 1fr);
    }

    .service_point {
        width: 90%;
    }

    .about_us {
        height: 10rem;
        font-size: 0.5rem;
        line-height: 2.8em;
    }

    .about_us_main_div {
        height: 30rem;
    }

    .about_us_pic picture {
        height: 20em;
    }

    .our_service {
        height: 50rem;
    }

    .service_img picture {
        height: 19rem;
    }

    .our_team_name {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    .about_us {
        font-size: 0.45em;
    }

    .pluses_main_div {
        font-size: 0.6em;
    }


    .team_members {
        gap: 80px;
    }

    .pluses_main_div {
        height: 120px;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

@media (max-width: 430px) {


    .service_text {
        font-size: 0.8em;
        height: 20rem;
        margin-top: 0;
    }

    .service_point h1 {
        font-size: 1.2rem;
    }

    .service_point p {
        font-size: 1rem;
    }

    .consultation {
        font-size: 0.6em;
        height: 15rem;
    }

    .service_img picture {
        height: 12rem;
    }

    .service_img picture img {
        height: 12rem;
    }

    .our_service {
        height: 37rem;
        padding: 1rem 0 3rem 0;
    }

    .service_img {
        height: 12rem;
    }


    .best_project_name {
        font-size: 0.8em;
    }

    .team_members {
        gap: 90px;
        width: 100%;

    }

    .our_team {
        height: 90rem;
        width: 100%;
    }

    .our_service {
        height: 35rem;
    }

    .member {
        font-size: 0.7em;
        width: 100%;
        height: 34em;
    }

    .member img {
        height: 85%;
    }

    .our_team_name {
        width: 95%;

    }

    .plus_container img {
        width: 60px;
    }


    .about_us_main_div {
        height: 28rem;
    }

    .about_us_pic picture {
        height: 13rem;
    }

    .about_us {
        height: 25rem;
        font-size: 0.4em;
        line-height: 4em;
    }
}

@media (max-width: 370px) {
    .member img {
        height: 84%;

    }

    .our_team {
        height: 70em;
        width: 100%;
    }

    .best_project_footer {
        margin: 4em auto;
        width: 100%;
    }

    .best_project_div {
        height: 60em;
    }

    .best_project_footer a {
        width: 60%;
        margin: 0 auto;
    }

    .member {
        height: 27em;
    }

    .about_us {
        height: 30rem;
        font-size: 0.4em;
    }

    .about_us_main_div {
        height: 30rem;
    }

    .our_service {
        padding: 2rem 0 2rem 0;
        height: 35rem;
    }

    .service_img {
        height: 10rem;
    }

    .service_img picture {
        height: 10rem;
    }

    .best_project_name {
        font-size: 0.6em;
    }

    .best_project_footer a {
        font-size: 0.78em;
    }

    .pluses_main_div {
        height: 150px;
        margin-top: 0;
    }

    .our_team {
        height: 76rem;
        width: 100%;
    }

}
