.about_us_main_div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    font-size: 1.1em;
    height: 74vh;
}

.about_us {
    padding: 0 2em;
    width: 30%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4AB185;
    color: white;
    border-radius: 50px;

}

.about_us_pic {
    width: 35%;
    padding: 2em;
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us_pic img {
    border-radius: 50px;
    width: 100%;
    height: 60vh;
}

.pluses_main_div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1em;
    height: 60vh;
    align-items: center;
    flex-wrap: wrap;
}

.plus_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 30%;
}

.plus_container img {
    width: 20vw;
    height: 20vh;
}

.plus_container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}

.Name_text {
    color: #4AB185;
    font-size: 1.5em;
}

.main_text {
    font-size: 1.1em;
    width: 60%;
    text-align: center;
}

.our_service {
    display: flex;
    justify-content: center;
    gap: 15%;
    background: #DDDDDD;
    height: 70vh;
    align-items: center;
}

.service_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.service_img img {
    border-radius: 10px;
    width: 100%;
    height: 80%;
}

.service_text {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.our_text {
    font-size: 2.4em;
    color: #4AB185;
}

.service_point {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 1.3em;
}

.service_point p {
    color: #8A8484;
}

.consultation {
    width: 100%;
    background-size: cover;
    background: url("./homeimages/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content_consul {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin: 0 auto 0 13%;
}

.cons_text {
    background: rgba(191, 191, 191, 0.58);
    padding: 10% 13% 10% 13%;
    border-radius: 30px;
    color: white;
    font-size: 2em;
}

.cons_button button {
    width: 20vw;
    height: 10vh;
    border-radius: 30px;
    border: inherit;
    background: #4AB185;
    color: white;
    font-size: 1.5em;
}

.best_project_div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.best_project_name {
    font-size: 2em;
    color: white;
    background: #4AB185;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four_project {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    width: 100%;
    justify-content: center;
}

.project img {
    width: 100%;
    height: 100%;
}

.project {
    width: 50em;
    height: 30em;
    margin: 0;
    position: relative;
}

.project_name {
    position: relative;
    bottom: 101%;
    background: rgba(74, 177, 133, 0.72);
    color: white;
    margin: 0;

    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 0 0 30px 0;
    padding: 1em;
}

.best_project_footer {
    margin-top: 10vh;
    display: flex;
    justify-content: end;
    width: 90%;
}

.best_project_footer a {
    width: 26%;
    height: auto;
    background: #4AB185;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px;
    position: relative;
    bottom: 5vh;
}

.our_team {
    margin-top: 10vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.our_team_name {
    width: 70%;
    color: #4AB185;
    font-size: 3em;
}

.team_members {
    margin-top: 5vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

}

.member img {
    border-radius: 2vh 2vh 0 0;
    width: 100%;
    height: 100%;
}

.member_content {
    background: #4AB185;
    width: 100%;
    color: white;
    padding: 2vh 0 2vh 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
    border-radius: 0 0 20px 20px;
}

@media (max-width: 1620px) {
    .about_us_main_div {
        height: 50vh;
        margin-top: 3vh;
    }

    .about_us {
        height: 100%;
        font-size: 0.85em;

    }

    .about_us_pic {
        height: 100%;
    }

    .about_us_pic img {
        width: 100%;
        height: 100%;
    }

    .our_service {
        height: 40em;
    }

    .our_service img {
        width: 100%;
        height: 80%;
    }

    .service_img {
        height: 100%;
    }

    .service_text {
        gap: 3em;
    }

}

@media (max-width: 1550px) {
    .about_us_main_div {
        height: 50vh;
        margin-top: 3vh;
    }

    .about_us {
        height: 100%;
        font-size: 0.75em;

    }

    .about_us_pic {
        height: 100%;
    }

    .about_us_pic img {
        width: 100%;
        height: 100%;
    }

    .pluses_main_div {
        height: 25em;
    }

    .plus_container img {
        height: 200px;
        width: 200px;

    }

    .plus_container {

    }

    .our_service {
        height: 40em;
    }

    .our_service img {
        width: 100%;
        height: 80%;
    }

    .service_img {
        height: 100%;
    }

    .service_text {
        gap: 3em;
    }

    .consultation {
        height: 40vh;
    }

    .cons_button button {
        height: 4em;
    }

    .best_project_name {
        font-size: 1.7em;
        height: 5em;
    }

    .best_project_footer {
        width: 90%;
        margin: 8em auto;
    }

    .best_project_footer a {
        width: 30%;
        font-size: 1.5em;
    }

    .our_team {
        height: 32em;
        margin-top: 1vh;
    }

    .team_members {
        width: 80%;
        gap: 2em;
        justify-content: center;

    }
}

@media (max-width: 1470px) {
    .about_us_main_div {
        height: 30em;
        font-size: 1em;
        margin-top: 3vh;
    }

    .about_us {
        height: 100%;
        font-size: 0.85em;

    }

    .about_us_pic {
        height: 100%;
    }

    .about_us_pic img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1300px) {
    .about_us_main_div {
        height: 40em;
        margin-top: 3vh;
        flex-direction: column-reverse;
        gap: 0;
    }

    .about_us {
        width: 70%;
        height: 100%;
        font-size: 0.85em;
        padding: 0 2%;
        border-radius: 0 0 2em 2em;
    }

    .about_us_pic {
        border-radius: 0;
        height: 20em;
        object-fit: cover;
        padding: 0;
        margin: 0;

        width: 100%;
    }

    .about_us_pic img {

        width: 74%;
        border-radius: 2em 2em 0 0;
        height: 100%;
        object-fit: cover;
    }

    .our_service {
        flex-direction: column;
        width: 100%;
        gap: 0;
        justify-content: start;
        align-items: center;
        height: 65em;
    }

    .service_img {
        margin-top: 1em;
        border-radius: 2em;
        width: 70%;
        height: 30em;
    }

    .service_img img {
        width: 100%;
        height: 100%;
        border-radius: 2em;
    }

    .service_text {
        gap: 1.4em;
        display: flex;
        text-align: center;
    }

    .our_team {
        margin-top: -6em;
    }

    .member {

        width: 30%;
        font-size: 1.2em;
    }

    .best_project_footer a {
        width: 30%;
        font-size: 1.4em;
    }

    .pluses_main_div {
        height: 23em;
    }


}

@media (max-width: 1150px) {
    .our_team {
        height: 60em;
        gap: 2vh;
    }

    .team_members {
        width: 90%;
        gap: 10vh;
        height: 50em;
        margin-top: 1vh;
    }

    .member {

        height: 15em;
        width: 14em;
        padding: 10px;
    }
}

@media (max-width: 1000px) {

    .best_project_footer a {
        width: 40%;
    }

    .plus_container img {
        height: 130px;
        width: 130px;
    }

    .plus_container {
        height: 70%;
    }

    .about_us {
        font-size: 0.76em;
    }

    .cons_button button {
        width: 60%;
    }
}

@media (max-width: 900px) {
    .service_text {
        margin-top: 1em;
        font-size: 0.9em;
    }

    .service_img {
        width: 85%;
    }

    .our_service {

        height: 60em;
    }

    .best_project_footer a {
        width: 50%;
    }

    .about_us {
        font-size: 0.6em;
        text-align: center;
        height: 20em;
    }

    .about_us_main_div {
        height: 32em;
    }

    .service_point {
        font-size: 1em;
    }

    .our_service {
        height: 55em;
    }
}

@media (max-width: 900px) {
    .our_service {
        font-size: 0.8em;
    }

    .main_text {
        display: none;
    }

    .Name_text {
        font-size: 1em;
    }
}

@media (max-width: 750px) {
    .our_team {
        height: 110em;
    }

    .team_members {
        width: 70%;
        gap: 10em;
    }

    .member {
        width: 100%;
        height: 20em;
    }

    .about_us_main_div {
        height: 30em;
    }

    .about_us_pic {
        height: 17em;
    }

    .about_us {
        height: 14em;
        font-size: 0.5em;
        padding: 2%;
    }

    .pluses_main_div {
        height: 14em;

    }

    .content_consul {
        font-size: 0.8em;
    }

    .best_project_name {
        font-size: 1em;
    }

    .best_project_footer a {
        width: 60%;
    }
}

@media (max-width: 750px) {
    .best_project_footer a {
        font-size: 0.9em;
        width: 50%;
        height: 5em;
    }

    .best_project_footer img {
        width: 20%;
    }
}
@media (max-width: 600px) {
    .plus_container img {
        height: 80px;
        width: 80px;
    }
    .about_us{
        height: 20em;
        font-size: 0.4em;
        line-height: 2.8em;
    }
    .about_us_main_div {
        height: 25em;
    }
    .about_us_pic {
        height: 15em;
    }
    .our_service {
        height: 50em;
    }
    .service_img{
        height: 25em;
    }
    .our_team_name{
        font-size: 2em;
    }
}
@media (max-width: 500px) {
    .about_us {
        font-size: 0.35em;
    }
    .pluses_main_div{
        font-size: 0.6em;
    }
}
@media (max-width: 430px) {
    .about_us {
        font-size: 0.25em;
    }
    .service_img {
        height: 20em;
    }
    .our_service {
        height: 45em;
    }
    .consultation{
        font-size: 0.6em;
    }
    .best_project_name{
        font-size: 0.8em;
    }
    .team_members {
        gap: 3em;
        width: 100%;
    }
    .our_team {
        height: 87em;
        width: 100%;
    }


    .member {
        font-size: 0.7em;
        width: 100%;
        height: 34em;
    }
    .member img{
        height: 85%;
    }
    .our_team_name{
        width: 95%;

    }
    .plus_container img{
        width: 60px;
    }
    .service_text{
        font-size: 0.8em;
    }
    .about_us_main_div{
        height: 20em;
    }
    .about_us_pic  {
        height: 10em;
    }
    .about_us{
        height:23em ;
        font-size: 0.3em;
    line-height: 4em;
    }
}
@media (max-width: 370px) {
    .member img{
        height: 84%;

    }
    .our_team {
        height: 70em;
        width: 100%;
    }
    .best_project_footer{
        margin: 4em auto;
        width: 100%;
    }
    .best_project_div{
        height: 60em;
    }
    .best_project_footer a{
        width: 60%;
        margin: 0 auto;
    }
    .member{
        height: 27em;
    }
    .about_us{
        height: 25em;
    }
    @media (max-width: 370px){
        .about_us{
            height: 30em;
        }
    }
}