a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.services_root{
    padding-top: 90px;
}
.service_content_title{
    font-size: 2.5em;
    color: #4AB185;
    text-align: center;
    margin-top: 30px;
}
.service_content_list{
    width: 60%;
    margin: 5vh auto 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.3em;
    color: #4AB185;
}
.service_content_list a{
    color: #4AB185;
}
.service_content_list li{
    list-style-type: disclosure-closed;
}
.services_foundation_main_div{
    width: 60%;
    margin: 5vh auto 0;
    background: #4AB185;
    color: white;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services_foundation_title{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2rem;
}
.services_foundation_title h2{
    text-align: center;
    font-size: clamp(1em, 3em, 2em);
}
.services_foundation_description{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.services_foundation_description p{
    font-size: 1.6rem;
    text-align: center;
}
.services_foundation_description ul{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.services_foundation_description li{
    font-size: clamp(1em, 3em, 1.2em);
}
.services_foundation_main_div button{
    font-size: clamp(1em, 3em, 1.3em);
    background-color: white;
    border: none;
    padding: 0.6em;
    border-radius: 40px;
    margin-top: 30px;
}
.services_stairs_main_div{
    width: 60%;
    margin: 5vh auto 0;
    background: #4AB185;
    color: white;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services_foundation_title p{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}
.services_stairs_main_div button{
    font-size: clamp(1em, 3em, 1.3em);
    background-color: white;
    border: none;
    padding: 0.6em;
    border-radius: 40px;
    margin-top: 30px;
}
.services_aer_main_div{
    width: 60%;
    margin: 5vh auto 0;
    background: #4AB185;
    color: white;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services_aer_title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2rem;
}
.services_aer_title p{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.services_aer_title h2{
    font-size: clamp(1em, 3em, 2em);
}
.services_aer_main_div button{
    font-size: clamp(1em, 3em, 1.3em);
    background-color: white;
    border: none;
    padding: 0.6em;
    border-radius: 40px;
    margin-top: 30px;
}
.services_aer_main_div img{
    border-radius: 20px;
    margin-top: 20px;
}
.services_project_main_div{
    width: 60%;
    margin: 5vh auto 0;
    background: #4AB185;
    color: white;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services_project_title{
    font-size: 1.2rem;
}
.services_project_main_div p{
    text-align: center;
    font-size: clamp(1em, 3em, 2em);
    font-weight: bolder;
}
.services_project_description{
    display: flex;
    font-size: clamp(1em, 3em, 1.5em);
    margin-top: 30px;
}
.services_project_description img{
    height: 450px;
    border-radius: 20px;
    width: 18rem;
}
.services_project_description ul{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 1em;
    justify-content: center;
}
.services_project_main_div button{
    font-size: clamp(1em, 3em, 1.3em);
    background-color: white;
    border: none;
    padding: 0.6em;
    border-radius: 40px;
    margin-top: 30px;
}
.services_excursion_main_div{
    width: 60%;
    margin: 5vh auto 0;
    background: #4AB185;
    color: white;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services_excursion_title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2rem;
}
.services_excursion_title p{
    width: 70%; margin: 0 auto;
    font-size: clamp(1em, 3em, 2em);
    font-weight: bolder;
}
.services_excursion_main_div ul{
    display: flex;
    flex-direction: column;
    font-size: clamp(1em, 3em, 1.5em);
    gap: 1em;
    margin-top: 25px;
    margin-left: 40px;
}
.services_excursion_p{
    font-size: clamp(1em, 3em, 1.5em);
    margin-top: 30px;
}
.services_excursion_description{
    display: flex;
    align-items: center;
    font-size: clamp(1em, 3em, 1.3em);
    gap: 1em;
    margin-top: 20px;
}
.services_excursion_description img{
    height: 50px;
}
.services_excursion_main_div button{
    font-size: clamp(1em, 3em, 1.3em);
    background-color: white;
    border: none;
    padding: 0.6em;
    border-radius: 40px;
    margin-top: 20px;
}
.services_main_div{
    width: 60%;
    margin: 5vh auto 0;
    background: #4AB185;
    color: white;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services_title{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2rem;
}
.services_title p{
    width: 100%; margin: 0 auto;
    font-size: clamp(1em, 3em, 2em);
    font-weight: bolder;
}
.services_p{
    margin-top: 20px;
    font-size: 1.6rem;
}
.services_main_div ul{
    display: flex;
    flex-direction: column;
    font-size: clamp(1em, 3em, 1.5em);
    gap: 1em;
    margin-top: 25px;
    margin-left: 40px;
}
.services_main_div button{
    font-size: clamp(1em, 3em, 1.3em);
    background-color: white;
    border: none;
    padding: 0.6em;
    border-radius: 40px;
    margin-top: 30px;
}
.services_ndfl_description{
    width: 70%;
    font-size: clamp(1em, 3em, 1.2em);
    margin-top: 15px;
}
.services_ndfl_contacts_div{
    display: flex;
    gap: 5em;
}
.services_ndfl_contacts{
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: clamp(1em, 3em, 1.2em);
}
.services_ndfl_contacts img{
    height: 40px;
}
@media (max-width: 1000px) {
    .services_project_description{
        font-size: 1rem;
    }
    .services_excursion_main_div ul, .services_excursion_p {
        font-size: 1rem;
    }
    .services_excursion_p, .services_p{
        text-align: center;
    }
    .services_p, .services_main_div ul{
        font-size: 1.3rem;
    }
    .services_ndfl_description{
        font-size: 1rem;
    }
    .services_foundation_title h2,
    .services_aer_title h2,
    .services_project_main_div p,
    .services_excursion_title p,
    .services_title p{
        font-size: 1.5em;
    }
    .services_foundation_title p{
        font-size: 1.2rem;
    }
    .services_excursion_title p{
        width: 90%;
    }
}
@media (max-width: 800px) {
    .services_ndfl_contacts_div{
        flex-direction: column;
        gap: 1em;
    }
    .service_content_title{
        font-size: 1.7em;
    }
    .services_foundation_description p{
        font-size: 1.4rem;
    }
    .services_foundation_description li{
        font-size: 1em;
    }
}
@media (max-width: 650px) {
    .services_main_div,
    .services_excursion_main_div,
    .services_project_main_div,
    .services_aer_main_div,
    .services_stairs_main_div,
    .services_foundation_main_div,
    .service_content_list{
        width: 80%;
    }
}
@media (max-width: 500px) {
    .services_foundation_title h2,
    .services_aer_title h2,
    .services_project_main_div p,
    .services_excursion_title p,
    .services_title p{
        font-size: 1.1em;
    }
    .services_foundation_title p,
    .services_aer_title p,
    .services_project_description ul,
    .services_excursion_main_div ul,
    .services_p, .services_main_div ul,
    .services_ndfl_description{
        font-size: 0.9em;
    }
    .services_ndfl_description{
        width: 100%;
        text-align: center;
    }
    .services_project_main_div button,
    .services_excursion_main_div button,
    .services_main_div button,
    .services_aer_main_div button,
    .services_stairs_main_div button,
    .services_foundation_main_div button{
        font-size: 1rem;
    }
    .service_content_list{
        font-size: 1rem;
    }
    .services_foundation_title p
    {
        width: 100%;
    }
    .services_foundation_description p{
        width: 110%;
    }
    .services_foundation_description ul{
        margin-left: 1em;
    }
}