.Ymap {
    position: relative;
    top: 1em;

    width: 90%;
    margin: 0 auto;
}

.contacts_root {
    padding-top: 50px;
}

.our_contacts_div {
    width: 90%;
    margin: 0 auto;
    color: #4AB185;
    display: flex;
    height: 5em;
    align-items: center;
}

.contacts_main_container {
    display: flex;
    width: 90%;
    margin: 5em auto;
    flex-direction: column;
    gap: 4em;
}

.contacts_main_container h2 {
    font-size: clamp(0.7em, 2em, 3em);
}


.info {
    display: flex;
    justify-content: start;
    gap: 1em;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.info img {
    width: 50px;
    height: 50px;
}


.contacts_left {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 95%;
    gap: 2em;
}

.contacts_left h1 {
    width: 95%;
    font-size: clamp(0.3em, 1.3em, 5em);
}

.contacts_place {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2rem 0 0 0;

}

.contacts_info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.contacts_right {
    width: 40em;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    grid-row: span 2;
}

.contacts_right picture {
    width: 100%;
    height: 100%;
}

.contacts_right img {
    width: 100%;
    height: 45em;
}

.chart_div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
}

.chart_div h4 {
    font-size: clamp(0.7em, 2.5em, 2em);

}

.chart_div p {
    font-size: clamp(0.7em, 2.5em, 1.4em);
    width: 95%;
    margin: 0 auto;
    color: rgba(138, 132, 132, 1);
}

.chart_main_div {
    position: relative;
    bottom: 20em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

@media (max-width: 1600px) {
    .contacts_place {
        display: flex;
        flex-direction: row;
        grid-column: span 2;
    }

    .contacts_info {
        justify-content: center;
        gap: calc((100% / 4) - 7rem);
    }

    .contacts_right {
        grid-row: span 1;
    }
}

@media (max-width: 1550px) {
    .contacts_right {
        width: 30em;
    }

    .contacts_right img {
        height: 35em;
    }
}

@media (max-width: 1140px) {
    .contacts_right {
        width: 20em;
    }

    .contacts_left h1 {
        width: 95%;
        font-size: 1.2rem;
    }

    .info img {
        width: 35px;
        height: 35px;
    }

    .contacts_right img {
        height: 25em;
    }
}

@media (max-width: 1010px) {
    .contacts_right {
        width: 20em;
    }

    .contacts_left h1 {
        width: 95%;
        font-size: 1rem;
    }

    .info img {
        width: 35px;
        height: 35px;
    }

    .contacts_right img {
        height: 25em;
    }

    .contacts_info {
        width: 100%;
    }

    .chart_div h4 {
        font-size: 1.2rem;
    }

    .chart_div p {
        font-size: 1rem;
    }
}

@media (max-width: 790px) {
    .contacts_right {
        grid-column: span 2;
        place-self: center;
        width: 25em;
    }

    .contacts_right img {
        height: 30em;
        border-radius: 5px;
    }

    .contacts_info {
        grid-column: span 2;
        place-self: center;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        font-size: 0.7rem;
    }

    .contacts_info div {
        place-self: center;
    }

    .contacts_info div:nth-child(3) {
        grid-column: span 2;
    }

    .contacts_info div:nth-child(4) {
        grid-column: span 2;
    }

}

@media (max-width: 655px) {
    .contacts_info div {
        grid-row: span 1;
        grid-column: span 1;
    }

    .contacts_info {
        place-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 465px) {
    .contacts_place {
        flex-direction: column;
    }


    .contacts_right {
        grid-column: span 2;
        place-self: center;
        width: 20em;
    }

    .contacts_right img {
        height: 25em;
        border-radius: 5px;
    }
}
