.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #4AB185;
    padding: 40px 20px 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    position: relative;
}
.modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="email"],
.modal-content input[type="tel"],
.modal-content textarea {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: none;
    margin: 10px 0;
    outline: none;
    color: black;
}

.modal-content select{
    width: 86%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: none;
    margin: 10px 0;
    outline: none;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.send_button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}