.questions_root {
    padding-top: 90px;
}

.questions_title {
    color: #4AB185;
    font-size: clamp(1em, 3em, 3em);
    text-align: center;
    margin-top: 5vh;
}

.questions_main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 5vh auto 0;
}

.questions_question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #4AB185;
    padding: 2%;
    border-radius: 10px;
    width: 96%;
}

.questions_question.opened {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.questions_question p {
    font-size: clamp(1em, 3em, 1.5em);
}

.questions_btn {
    height: 8vh;
    width: 8vh;
    background: rgba(0, 0, 0, 0);
    border: none;
}

#plus1, #plus2 {
    height: 5px;
    width: 80%;
    background: #4AB185;
    transition: transform 0.3s ease;
}

#plus1 {
    position: relative;
    top: 5px;
    transform: rotate(90deg);
}

#plus1.opened {
    transform: rotate(0deg);
}

#questions_answer {
    font-size: clamp(1em, 3em, 1.5em);
    border-radius: 0 0 10px 10px;
    border-top: none;
    width: 96%;
    height: 0;
    overflow: hidden;
    padding: 0 2%;
    transition: height 0.5s ease, padding 0.3s ease;
}

#questions_answer ul {
    margin-left: 1em;
}

#questions_answer.opened {
    height: 20rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened1 {
    height: 36rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened2 {
    height: 17rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened3 {
    height: 9rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened4 {
    height: 15rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened5 {
    height: 5rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened6 {
    height: 22rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened7 {
    height: 30rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened8 {
    height: 32rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened9 {
    height: 14rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened10 {
    height: 9rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened11 {
    height: 4rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened12 {
    height: 5rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened13 {
    height: 8rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

#questions_answer.opened14 {
    height: 5rem;
    padding: 2%;
    border: 2px solid #4AB185;
}

.questions_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions_form p {
    font-size: 3em;
    font-weight: bolder;
    color: #4AB185;
    margin-top: 5vh;
}

.questions_form button {
    margin-top: 3vh;
    padding: 20px;
    background: #4AB185;
    border: none;
    border-radius: 30px;
    font-size: 1.3em;
    color: white;
}