.subHeader {
    width: 100%;
    height: 73vh;
    background: url("./Images/Header.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
@supports ((background-image: url('./Images/Header.avif'))) {
    .subHeader{
        width: 100%;
        height: 73vh;
        background: url("./Images/Header.avif") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.subHeader-title {
    width: 25%;
    height: 20%;
    margin: 0 auto 0 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(0.5em, 1.4em, 2em);
    background: rgba(191, 191, 191, 0.58);
    border-radius: 30px;
}
@media (max-width: 1550px) {
    .subHeader {
        height: 65vh;
    }
}
@media (max-width: 1350px) {
    .subHeader {
        height: 50vh;
    }
}
@media (max-width: 1220px) {
    .subHeader-title {
    padding: 10px;
        width: 40%;
        margin: 0 auto;
    }
}
@media (max-width: 1220px) {
    .subHeader-title {
        width: 80%;
    }
}
@media (max-width: 500px) {
    .subHeader {
        height: 20em;
    }
}