header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.left-header-box {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left-header-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.left-header-box img {
    width: 50%;
    height: 50%;
    margin-top: 5px;
}

.right-header-box {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 4em;
    font-size: clamp(0.8em, 2em, 1em);

}

.right-header-box a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #4AB185;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    margin-top:9vh;
    padding: 0;
    color: white;
    font-size: clamp(0.5em, 1em, 0.7em);
}
.left_piece{
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 2vh;
}
.left_piece img{
    width:40%;
}
.social img{
    width:70%;
}
.social {
    width:100%;
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: center;
}