header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.left-header-box {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left-header-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.left-header-box img {
    width: 50%;
    height: 50%;
    margin-top: 5px;
}

.right-header-box {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 4em;
    font-size: 1.2em;

}

.right-header-box a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #4AB185;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25rem;
    margin-top: 9vh;
    padding: 0;
    color: white;
    font-size: 0.7em;
}

.left_piece {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2rem;
    gap: 2vh;
}

.left_piece img {
    width: 30%;
}

.social img {
    width: 60%;
}

.social {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Основные стили для контейнера *//* Контейнер кнопки бургера */
.burger-container {
    position: relative;
}

/* Стили кнопки бургера */
.burger-button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 1000;
    display: none;
    user-select: none; /* Отключение выделения текста */
    transition: transform 0.3s ease;
}

/* Бургер - стили для трех линий */
.burger-button .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #4AB185;
    margin: 6px auto;
    transition: all 0.3s ease; /* Анимация для плавности */
}

/* Стиль для кнопки бургера в открытом состоянии (когда меню открыто) */
.burger-button.open .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg); /* Верхняя линия становится частью крестика */
}

.burger-button.open .line:nth-child(2) {
    opacity: 0; /* Средняя линия исчезает */
}

.burger-button.open .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg); /* Нижняя линия становится частью крестика */
}

/* Стили для самого меню */
.burger-menu {
    position: fixed;
    top: 0;
    right: -250px; /* Меню скрыто за пределами экрана */
    width: 250px;
    height: 100vh;
    background-color: white;
    transition: right 0.3s ease; /* Плавное появление/скрытие */
    z-index: 999;
    padding-top: 100px;
}

.burger-menu.open {
    right: 0; /* Меню становится видимым */
}

/* Стили для списка в меню */
.burger-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Стили для элементов списка */
.burger-menu li {
    padding: 15px;
    text-align: center;
}

/* Стили для ссылок в меню */
.burger-menu a {
    color: #4AB185;
    text-decoration: none;
    font-size: 20px;
}

/* Стиль для активных ссылок */
.burger-menu a:hover {
    background-color: inherit;
}

/* Убираем фон при активном состоянии и фокусе */
a:active, a:focus {
    background-color: transparent;
    outline: none;
}


/*адаптив*/

@media (max-width: 1500px) {
    .right-header-box {
        font-size: 1em !important;
    }

    footer {
        height: 25rem;
    }

    .social img {
        width: 70%;
    }

    .social {
        margin-top: 1rem;
        gap: 1em;
    }
}

@media (max-width: 1280px) {
    .burger-button {
        display: block;
    }

    .right-header-box {
        display: none;
    }

    .left-header-box {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    footer {
        font-size: 0.8em;
        height: 30em;
    }
}

@media (max-width: 900px) {
    .left-header-box img {
        width: 30%;

    }

    footer {
        flex-direction: column;
        font-size: 0.6em;
        height: 25rem;
    }

    .left_piece {
        display: flex;
        width: calc(90% - 4rem);
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .left-header-box {
        width: 100%;
    }

    .left-header-box a {
        display: flex;
        justify-content: start;
        margin-left: 10px;
    }

    .burger-button {
        top: 10px;
        display: block;
    }
}

@media (max-width: 410px) {
    footer {
        height: 45em;
        font-size: 0.5em;
    }
}

@media (max-width: 340px) {
    footer {
        height: 50em;
        font-size: 0.5em;
    }
}